.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.menu-icon {
  display: flex;
}

.welcome-message {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.icon {
  cursor: pointer;
  color: #000;
}

.icon:hover {
  color: #777;
}
